@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --index:calc(1vh + 1vw);
}
body{
  /* width: 100vw;
  height: 100vh;
  overflow: hidden; */
  color: white;
  background-image: linear-gradient( to right,#272727, #0e0e0e );
}

.box{
  border-radius: 5rem;
  background-image: linear-gradient( to right, #0e0e0e,#272727 );

}

.project-img{
  max-width:calc( var(--index)*20);
}


/* @media screen and (max-width: 1240px) {
  .box{
    width: 25rem;
    height:25rem;
    border-radius: 3.5rem;
    background-image: linear-gradient( to right, #0e0e0e,#272727 );
  
  }
  .profile-image{
    width: 33rem;
  }
}
@media screen and (max-width: 970px) {
  .box{
    width: 22rem;
    height:22rem;
    border-radius: 2.5rem;
    background-image: linear-gradient( to right, #0e0e0e,#272727 );
  
  }
  .profile-image{
    width: 28rem;
  }
}*/
/* @media screen and (max-width: 700px) {
  body{
    overflow: hidden;
    width: 65vw;
    color: white;
    background-image: linear-gradient( to right,#272727, #0e0e0e );
  }
} */